## Final Project Submission

Please fill out:
* Student name: Peter Muthoma
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Asha Deen
* Blog post URL:

### Problem Statement
Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. 
In this project we will:
* Explore what types of films are currently doing the best at the box office. 
* Translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

This will mainly be done using exploratory data analysis

### Exploratory Data Analysis
I have narrowed down our data to three datasets that I will use to accomplish our goal in this project
* 1. "bom.movie_gross.csv.gz" this is a csv data with a list of movies and the gross income for each for both foreign and local markets
* 2.  "imdb.title.basics.csv.gz" csv data with with info such as genres, runtime_minutes for each movies, start_year, original_title and primary_title
* 3. "imdb.title.ratings.csv.gz" this data contain more info about movies rating

For this data EDA we will start by loadind all the necesarry libraries that we will use in this project the load and data clean all the datasets in preparation for data analysis

In [2]:
#Importing necessary libraries
import pandas as pd
import gzip

All our data is zipped, we need to first unzip it before converting it into a data Frame
We will start by the Movie Gross.

#### Movie Gross

In [ ]:
#opening the zipped movie gross and creating a dataframe 
with gzip.open('bom.movie_gross.csv.gz', 'rb') as f:
    df_Movie_gross = pd.read_csv(f)

 
df_Movie_gross

In [43]:
#checking more info about movie gross data
df_Movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

We can tell the following from the above info
* studio, foreign_gross and domestic_gross have missig data
* foreign_gross has the wrong data type(object)

We can now convert foreign_gross into a float64

In [46]:
df_Movie_gross['foreign_gross'] = pd.to_numeric(df_Movie_gross['foreign_gross'], errors='coerce').astype(float).astype('Int64')
df_Movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2032 non-null   Int64
 4   year            3387 non-null   int64
dtypes: Int64(1), float64(1), int64(1), object(2)
memory usage: 135.7+ KB

In [47]:
df_Movie_gross.describe()

       domestic_gross  foreign_gross         year
count    3.359000e+03   2.032000e+03  3387.000000
mean     2.874585e+07   7.505704e+07  2013.958075
std      6.698250e+07   1.375294e+08     2.478141
min      1.000000e+02   6.000000e+02  2010.000000
25%      1.200000e+05   3.775000e+06  2012.000000
50%      1.400000e+06   1.890000e+07  2014.000000
75%      2.790000e+07   7.505000e+07  2016.000000
max      9.367000e+08   9.605000e+08  2018.000000

In [48]:
df_Movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,<NA>,2018
3383,Edward II (2018 re-release),FM,4800.0,<NA>,2018
3384,El Pacto,Sony,2500.0,<NA>,2018
3385,The Swan,Synergetic,2400.0,<NA>,2018
3386,An Actor Prepares,Grav.,1700.0,<NA>,2018

In [ ]:
df_movies

In [19]:
with gzip.open('imdb.title.basics.csv.gz', 'rb') as d:
    df_title_basics = pd.read_csv(d)
df_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary

In [20]:
with gzip.open('imdb.title.ratings.csv.gz', 'rb') as e:
    df_title_ratings = pd.read_csv(e)
df_title_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [28]:
basics_title_inner = pd.merge(df_title_basics,df_title_ratings, on='tconst',how="inner")
basics_title_inner

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5
73855,tt9916160,DrÃ¸mmeland,DrÃ¸mmeland,2019,72.0,Documentary,6.5,11

In [29]:
basics_title_inner.isna().sum()

tconst                0
primary_title         0
original_title        0
start_year            0
runtime_minutes    7620
genres              804
averagerating         0
numvotes              0
dtype: int64

In [30]:
gross_basics_title = pd.merge(basics_title_inner,df_Movie_gross,left_on='primary_title',right_on='title',how='inner')
gross_basics_title

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Wazir,Relbig.,1100000.0,NaN,2016
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,On the Road,IFC,744000.0,8000000,2012
2,tt4339118,On the Road,On the Road,2014,89.0,Drama,6.0,6,On the Road,IFC,744000.0,8000000,2012
3,tt5647250,On the Road,On the Road,2016,121.0,Drama,5.7,127,On the Road,IFC,744000.0,8000000,2012
4,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3022,tt8331988,The Chambermaid,La camarista,2018,102.0,Drama,7.1,147,The Chambermaid,FM,300.0,NaN,2015
3023,tt8404272,How Long Will I Love U,Chao shi kong tong ju,2018,101.0,Romance,6.5,607,How Long Will I Love U,WGUSA,747000.0,82100000,2018
3024,tt8427036,Helicopter Eela,Helicopter Eela,2018,135.0,Drama,5.4,673,Helicopter Eela,Eros,72000.0,NaN,2018
3025,tt9078374,Last Letter,"Ni hao, Zhihua",2018,114.0,"Drama,Romance",6.4,322,Last Letter,CL,181000.0,NaN,2018
3026,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018

In [32]:
gross_basics_title.isna().sum()

tconst                0
primary_title         0
original_title        0
start_year            0
runtime_minutes      47
genres                7
averagerating         0
numvotes              0
title                 0
studio                3
domestic_gross       22
foreign_gross      1195
year                  0
dtype: int64

In [34]:
gross_basics_title.describe()

,start_year,runtime_minutes,averagerating,numvotes,domestic_gross,year
count,3027.000000,2980.000000,3027.000000,3.027000e+03,3.005000e+03,3027.000000
mean,2013.783284,107.217114,6.457582,6.170030e+04,3.064033e+07,2014.077635
std,2.466955,20.073886,1.012277,1.255132e+05,6.671629e+07,2.442245
min,2010.000000,3.000000,1.600000,5.000000e+00,1.000000e+02,2010.000000
25%,2012.000000,94.000000,5.900000,2.117000e+03,1.390000e+05,2012.000000
50%,2014.000000,105.000000,6.600000,1.310900e+04,2.000000e+06,2014.000000
75%,2016.000000,118.000000,7.100000,6.276550e+04,3.250000e+07,2016.000000
max,2019.000000,272.000000,9.200000,1.841066e+06,7.001000e+08,2018.000000

In [36]:
gross_basics_title.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           3027 non-null   object
 1   primary_title    3027 non-null   object
 2   original_title   3027 non-null   object
 3   start_year       3027 non-null   int64
 4   runtime_minutes  2980 non-null   float64
 5   genres           3020 non-null   object
 6   averagerating    3027 non-null   float64
 7   numvotes         3027 non-null   int64
 8   title            3027 non-null   object
 9   studio           3024 non-null   object
 10  domestic_gross   3005 non-null   float64
 11  foreign_gross    1832 non-null   object
 12  year             3027 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 331.1+ KB

In [38]:
df['foreign_gross'] = pd.to_numeric(df['foreign_gross'], errors='coerce').astype(float).astype('Int64')

In [39]:
gross_basics_title.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           3027 non-null   object
 1   primary_title    3027 non-null   object
 2   original_title   3027 non-null   object
 3   start_year       3027 non-null   int64
 4   runtime_minutes  2980 non-null   float64
 5   genres           3020 non-null   object
 6   averagerating    3027 non-null   float64
 7   numvotes         3027 non-null   int64
 8   title            3027 non-null   object
 9   studio           3024 non-null   object
 10  domestic_gross   3005 non-null   float64
 11  foreign_gross    1832 non-null   object
 12  year             3027 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 331.1+ KB

In [6]:
with gzip.open('zippedData/tmdb.movies.csv.gz', 'rb') as i:
    df_tmdb_movies = pd.read_csv(i)
df_tmdb_movies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1